* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Commissioner', sans-serif;
}

:root {
    --Moderate-cyan: hsl(176, 50%, 47%);
    --Dark-cyan: hsl(176, 72%, 28%);
    --Black: hsl(0, 0%, 0%);
    --Dark-gray: hsl(0, 0%, 48%);
    --Light-gray: hsl(0, 0%, 95%);
}

p {
    color: var(--Dark-gray);
    font-size: 0.875rem;
}

/*** Buttons ***/
.btn-primary {
    cursor: pointer;
    padding: 18px 45px;
    background-color: var(--Moderate-cyan);
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 2rem;
    transition: 0.2s;
}

.btn-primary--small {
    font-size: 14px;
    padding: 15px 33px;
}

.btn-primary--compressed {
    padding: 18px 30px;
}

.btn-primary:hover {
    background-color: var(--Dark-cyan);
}

/*** page wrapper ***/
.page-wrapper {
    height: 100vh;
    overflow: scroll;
    position: relative;
}

.page-wrapper--no-scroll {
    overflow: hidden;
}

/*** page top header ***/
.page-top-header {
    position: absolute;
    z-index: 200;
}

.page-top-header__wrapper {
    padding: 2rem 1.5rem 0rem 1.5rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1440px) {
    .page-top-header__wrapper {
        padding: 3rem 9rem 0rem 10.5rem;
    }
}

/* hamburger icon */
.menu-icon {
    width: 16px;
    height: 15px;
    position: relative;
    margin-top: 3px;
}
@media (min-width: 1440px) {
    .menu-icon {
        display: none;
    }
}

.menu-icon__line {
    background: #fff;
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s, width 0.5s;
}

#menu-icon__line-1 {
    transform: translate(-50%, -7px);
}

#menu-icon__line-3 {
    transform: translate(-50%, 4px);
}

.openmenu #menu-icon__line-1 {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.openmenu #menu-icon__line-3 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.openmenu #menu-icon__line-2 {
    width: 0;
}

/*** menu large screens ***/
.large-screen-menu {
    display: none;
}

@media (min-width: 1440px) {
    .large-screen-menu {
        display: flex;
        gap: 2rem;
        color: #ffffff;
        list-style: none;
    }
    .large-screen-menu__item:hover {
        height: 20px;
        border-bottom: 2px solid #ffffff45;
    }
}

/*** hero-img ***/
.hero-img__mobile {
    width: 100vw;
}
.hero-img__desktop {
    display: none;
}

@media (min-width: 765px) {
    .hero-img__mobile {
        display: none;
    }
    .hero-img__desktop {
        display: block;
        width: 100vw;
    }
}

/*** section card ***/
.section-card {
    width: calc(100% - 3rem);
    max-width: 750px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/*** intro card ***/
.intro-card {
    transform: translateY(-3.75rem);
    text-align: center;
}

@media (min-width: 1440px) {
    .intro-card {
        transform: translateY(-6rem);
    }
}

.intro-card__wrapper {
    transform: translateY(-1.8125rem);
}

.intro-card__logo-container {
    width: 56px;
    margin: 0rem auto 1.3125rem auto;
}

.intro-card__title {
    font-size: 1.25rem;
    margin: 0rem auto 1rem auto;
    width: 60%;
}

@media (min-width: 1440px) {
    .intro-card__title {
        font-size: 25px;
        width: 100%;
    }
}

.intro-card__description {
    font-size: 0.875rem;
    line-height: 1.5rem;
    width: 80%;
    margin: 0rem auto 1.5rem auto;
}

.intro-card__btn-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    margin: auto;
    padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
    .intro-card__btn-container {
        justify-content: left;
        width: 100%;
        gap: calc(100% - 370px);
        padding: 0 3rem;
    }
}

@media (max-width: 365px) {
    .BackProjectBtn {
        padding: 18px 25px;
    }
}

.btn-bookmark {
    cursor: pointer;
    height: 56px;
    background-color: #2f2f2fff;
    border-radius: 50%;
    border: none;
}
.btn-bookmark__label {
    display: none;
}
.btn-bookmark__svg--checked {
    fill: #ffffff;
}
.btn-bookmark--checked {
    background-color: var(--Dark-cyan);
}

@media (min-width: 768px) {
    .btn-bookmark {
        position: relative;
    }
    .btn-bookmark__label {
        display: block;
        position: absolute;
        z-index: -100;
        left: 2.5rem;
        top: 0;
        height: 56px;
        display: flex;
        align-items: center;
        padding: 1rem 1.5rem 1rem 2rem;
        border-radius: 0rem 2rem 2rem 0rem;
        color: var(--Dark-gray);
        background-color: var(--Light-gray);
        font-weight: 500;
    }
}

/*** stats card ***/
.stats-card {
    text-align: center;
    margin-top: -2rem;
}
@media (min-width: 768px) {
    .stats-card__num-container {
        display: flex;
        justify-content: left;
        padding: 52.5px 0px 30px 0px;
    }
}
.stats-card__stat-wrapper {
    padding-top: 1.5rem;
    border-bottom: 1px solid var(--Dark-gray);
    text-align: center;
    margin: auto;
    width: fit-content;
}
.stats-card__stat-wrapper:first-of-type {
    padding-top: 2rem;
}
.stats-card__stat-wrapper:last-of-type {
    border-bottom: 0px;
}

@media (min-width: 768px) {
    .stats-card__stat-wrapper {
        border-bottom: 0px;
        border-right: 1px solid rgb(206, 204, 204);
        padding: 0rem 52.5px;
        margin: 0;
        text-align: left;
    }
    .stats-card__stat-wrapper:first-of-type {
        padding-top: 0rem;
    }
    .stats-card__stat-wrapper:last-of-type {
        border-right: 0px;
    }
}

.stats-card__description {
    font-size: 14px;
    padding-bottom: 1.5625rem;
}

@media (min-width: 768px) {
    .stats-card__description {
        padding-bottom: 0;
    }
}
.stats-card__number {
    font-size: 2rem;
    padding-bottom: 0.5rem;
}
.stats-card__progress-bar-container {
    position: relative;
    padding-bottom: 2.5rem;
    width: 86%;
    margin: 0.625rem auto 0rem auto;
}
@media (min-width: 768px) {
    .stats-card__progress-bar-container {
        padding-bottom: 3rem;
    }
}
.stats-card__progress-bar-bg {
    width: 100%;
    height: 12px;
    border-radius: 1rem;
    background-color: var(--Light-gray);
}
.stats-card__progress-bar {
    position: absolute;
    width: 89.929%;
    height: 12px;
    border-radius: 1rem;
    background-color: var(--Moderate-cyan);
}

/*** about card ***/
.about-card {
    margin: 1.5rem auto 77px auto;
    padding: 2.5rem 1.5rem;
}

@media (min-width: 1440px) {
    .about-card {
        padding: 2.5rem 2.5rem;
    }
}

.about-card__title {
    font-size: 1.125rem;
    margin-bottom: 1.6875rem;
}

.about-card__intro {
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

/* adds card */
.adds-card {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--Light-gray);
    margin-bottom: 1.5rem;
    position: relative;
}
@media (min-width: 768px) {
    .adds-card__header {
        display: flex;
        justify-content: space-between;
    }
}
.adds-card:last-of-type {
    margin-bottom: 0rem;
}

.adds-card--sold-out {
    opacity: 0.5;
}

.adds-card__title {
    font-size: 14px;
    margin-bottom: 8px;
}

.adds-card__subtitle {
    color: var(--Dark-cyan);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 26px;
}

.adds-card__text {
    line-height: 24px;
    margin-bottom: 22px;
}

.adds-card__product-counter {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .adds-card__product-counter {
        margin-bottom: 0;
    }
}

.adds-card__number {
    font-size: 2rem;
    font-weight: 700;
    color: var(--Black);
    margin-right: 8px;
}

.adds-card-btn--sold-out:hover {
    background-color: var(--Moderate-cyan);
    cursor: default;
}

@media (min-width: 768px) {
    .select-reward-btn {
        position: absolute;
        bottom: 1.5rem;
        right: 1.5rem;
    }
}
