/** mobile menu **/
.mobile-menu {
    position: fixed;
    width: 100vw;
    height: 0;
    overflow: hidden;
    z-index: 100;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.775) 0%, rgba(0, 0, 0, 0) 70%);
    transition: 0.5s;
}

.mobile-menu--open {
    height: 100vh;
}

.mobile-menu__card {
    background-color: #ffffff;
    width: fit-content;
    margin: 5.5rem auto 0rem auto;
    width: calc(100% - 3rem);
    border-radius: 0.5rem;
    list-style: none;
    overflow: hidden;
    height: 0;
    transition: 0.5s;
}

.mobile-menu__card--open {
    height: 13.25rem;
}

.mobile-menu__item {
    padding: 1.5rem 1.5rem;
    border-bottom: 1px solid var(--Light-gray);
    font-size: 1.125rem;
    font-weight: 500;
}

.mobile-menu__item:last-of-type {
    border-bottom: none;
}

/***** general styles back this project and Thanks for your support *****/
.menu-card {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: scroll;
    z-index: 300;
    padding-bottom: 15.625rem;
    display: none;
}
.menu-card__card {
    transform: translateY(120px);
    width: calc(100% - 3rem);
    max-width: 750px;
    padding: 2rem 1.5rem 1rem 1.5rem;
    background-color: #ffffff;
    margin: auto;
    border-radius: 0.5rem;
    border: 1px solid var(--Light-gray);
    position: relative;
}

@media (min-width: 1440px) {
    .menu-card__card {
        padding: 3rem;
    }
}

/*** back this project ***/
.back-project__close-icon {
    position: absolute;
    right: 1.375rem;
    top: 2.1875rem;
    cursor: pointer;
}
.back-project__title {
    font-size: 1.125rem;
    margin-bottom: 1.625rem;
}
@media (min-width: 1440px) {
    .back-project__title {
        font-size: 1.5625rem;
    }
}
.back-project__intro {
    line-height: 1.4375rem;
    margin-bottom: 1.5rem;
}
.pledge-card {
    border: 1px solid #d8d8d8;
    border-radius: 0.5rem;
    padding-bottom: 2rem;
    margin-bottom: 1.25rem;
}
@media (min-width: 1440px) {
    .pledge-card {
        position: relative;
    }
}
.pledge-card__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2.1875rem;
    padding: 2rem 1.375rem 0 1.375rem;
}
@media (min-width: 1440px) {
    .pledge-card__header {
        margin-bottom: 1rem;
    }
}
.page-top-header--min-height {
    margin-top: -10px;
}
.pledge-card__radio-btn {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid #d8d8d8;
}
.pledge-card__radio-btn--selected:before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: var(--Moderate-cyan);
    border-radius: 50%;
    transform: translate(5px, 5px);
}
@media (min-width: 1440px) {
    .pledge-card__title-wrapper {
        display: flex;
        gap: 2rem;
        transition: 0.5s;
    }
    .pledge-card__title-wrapper:hover {
        color: var(--Moderate-cyan);
    }
}
.pledge-card__title {
    font-size: 0.875rem;
}
.pledge-card__subtitle {
    font-weight: 400;
    color: var(--Moderate-cyan);
    font-size: 0.875rem;
    margin-top: 0.5rem;
}
@media (min-width: 1440px) {
    .pledge-card__subtitle {
        margin-top: 0;
    }
}
.pledge-card__description {
    line-height: 1.5rem;
    padding: 0 1.375rem;
}
@media (min-width: 1440px) {
    .pledge-card__description {
        padding: 0 1.375rem 0 3.75rem;
    }
}
.pledge-card__product-counter {
    display: flex;
    gap: 0.5rem;
    margin-top: 1.5rem;
    align-items: center;
    padding: 0 1.375rem;
}
@media (min-width: 1440px) {
    .pledge-card__product-counter {
        position: absolute;
        right: 0;
        top: 0;
    }
}
.pledge-card__number {
    font-weight: 700;
    color: var(--Black);
    font-size: 1rem;
}
.pledge-card--sold-out {
    opacity: 0.5;
}
/* confirm */
.confirm {
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out;
}

.error-message {
    display: none;
    color: red;
    font-weight: 500;
    padding: 0rem 2rem 1rem 2rem;
}
@media (min-width: 1440px) {
    .confirm__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }
}
.confirm__hr {
    margin: 1.5rem 0;
    border-width: 2px;
    border-color: var(--Light-gray);
    opacity: 0.2;
}
.confirm__title {
    margin-bottom: 1.5rem;
}
@media (min-width: 1440px) {
    .confirm__title {
        margin-bottom: 0;
    }
}
.confirm__action-box {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
@media (max-width: 340px) {
    .confirm__action-box {
        flex-direction: column;
        text-align: center;
        padding: 0 2rem;
        gap: 0.5rem;
    }
}

.confirm__input-num-container {
    display: flex;
    align-items: center;
    position: relative;
}
.confirm__input-num {
    padding: 1.125rem 1rem 1.125rem 2.5rem;
    border-radius: 2rem;
    border: 1px solid rgb(172, 172, 172);
    width: 6.25rem;
    outline: none;
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
}
.confirm__input-num:focus {
    border-color: var(--Dark-cyan);
}
.confirm__dollar-sign {
    position: absolute;
    left: 1.5rem;
    font-weight: 700;
    font-family: 'Commissioner', sans-serif;
    color: rgb(172, 172, 172);
}

/*** Thanks for your support ***/
.thank-you-message__card {
    text-align: center;
}
@media (min-width: 1440px) {
    .thank-you-message__card {
        width: 31.25rem;
        padding-bottom: 1rem;
    }
}
.thank-you-message__title {
    margin: 1rem 0 1.5rem 0;
    font-size: 1.125rem;
}
@media (min-width: 1440px) {
    .thank-you-message__title {
        font-size: 1.375rem;
    }
}
.thank-you-message__description {
    line-height: 1.5625rem;
}
.thank-you-message__btn {
    margin: 1.5rem 0;
}
